button {
	width: 100%;
	padding: 10px;
	font: 400 20px var(--display-font);
	text-transform: uppercase;
	background: none;
	border-radius: 0;
	border: 1px solid var(--light);
	color: var(--light);
	cursor: pointer;
	transition: background .2s ease-in-out, color .2s ease-in-out;
	position: relative;

	&:hover {
		background: var(--light);
		color: var(--dark);
	}

	c-spinner {
		position: absolute;
		top: 10px;
		left: calc(50% - 12px);
		opacity: 0;
		transition: opacity .2s ease-in-out;
	}

	&.loading {
		color: transparent;

		c-spinner {
			opacity: 1;
		}
	}
}
